#container {
  margin: 0;
  padding: 0;
  /*display: flex;*/
  /*border: 1px solid red;*/
}

/*#row_top {
  display: flex;
  width: 100%;
  flex-direction: row;
  border: 1px solid red;

}

#row_bottom {
  display: flex;
  width: 100%;
  flex-grow: 1;
  flex-direction: row;
}*/

.product_card {
  display: inline-block;
  width: 23%;

  /*margin: 5px;*/
  padding: 0 5px;
  border: 1px solid black;
}

.product_card div {
  display: block;
}

.product_card img {
  /*border: 1px solid red;*/
  width: 100%;
  height: 350px;
  margin: 0 auto 15px;
  display: block;
}

.information a {
  text-align: center;
  display: block;
  margin-bottom: 10px;
}

.key_values {
  /*border: 1px solid red;*/
  display: block;
  text-align: center;
}