body{
    margin: 0;
    padding: 0;
    width: 100%;
}

h1 { 
    font-family: 'Modak', cursive;
    font-weight:normal;
    font-size: 90px;
    text-align: center;
    font-stretch: extra-expanded;
    color: #fff;
    margin: 0;
    padding: 0;
    line-height: 50%;
    margin-top: 40px;
}

h2 {
 font-family: 'Modak', cursive;
   font-weight: normal;
   font-size: 40px;
   text-align: center;
   color: #fff;
   margin: 0;
   padding: 0;
   
}

h3 {
  font-family: 'Shrikhand', cursive;
   font-weight: normal;
   font-size: 14px;
   text-align: center;
   margin: 5px 0;
    padding: 0;
    z-index: 1;
    position: relative;
}

.center { 
    margin: 0 auto; 
}

.content{ 
    margin: 0 auto; 
    width: 960px; 
}

.clear { 
    clear: both; 
}

a.lpanel {
    float: left; 
    color: #e1e1e1; 
    font-size: 12px; 
    font-family:"Wellfleet"; 
    text-decoration: none; 
    margin: 7px 11px; 
}

a.rpanel { 
    float: right; 
    color: #e1e1e1;  
    font-size: 12px; 
    font-family:"Wellfleet"; 
    text-decoration: none; 
    margin: 7px 11px; 
}

a.lpanel:hover{ 
    color: #fff; 
}

a.rpanel:hover{ 
    color: #fff; 
}

/*-------------NAV-----------------*/

#header { 
    width: 100%; 
    background: url('../img/header-bg.png'); 
    height: 80px;   
    position: fixed;
    margin-top: 30px;
}

#nav { 
    width: 410px; 
    float: right; 
    margin-top: 20px; 
    margin-left: 10px;
}

#logo a { 
    color: #fff; 
    text-decoration: none; 
    float: left; 
    font-size: 30px; 
    margin-top: 20px; 
    color: #fff; 
   font-family: 'Modak', cursive; 
    font-weight: normal; 
}

#nav ul{
    list-style: none;
    display: block;
    margin: 0 auto;
    list-style: none;   
}

#nav li{
    margin-top: 9px;    
    float: left;
    padding-left: 21px;
}

#nav li a { 
    color: #fff; 
    opacity:0.6; 
    font-size: 16px; 
    text-decoration: none; 
     font-family: 'Shrikhand', cursive;
}

#nav li a.active { 
    color: #fff; 
    opacity:1; 
    border-bottom: 2px solid #fff; 
}

#nav li a:hover { 
    color: #fff; 
    opacity:1;  
}



/*= QUOTES AND SOME ELEMENTS
--------------------------------------------------------*/

.quotes {   
 font-family: 'Goudy Bookletter 1911', serif;
   font-weight: normal;
   font-size: 30px;
  text-align: left;
  margin: 50px auto;
}
   
 .author_name_white { 
     font-family:"Wellfleet";  
     margin: 70px 0 0 75px; 
     color: #fff; 
     font-size: 20px; 
}  
 .author_name_gray { 
     font-family:"Wellfleet";  
    margin: 70px 0 0 75px; 
    color: #94a4a4; 
     font-size: 20px; 
}  

.quotes_container { 
    width: 800px; 
    margin: 0 auto; 
}
#swagdog_home { 
    background: url(../img/DOGLOGO.svg)no-repeat; 
    width: 100px; 
    height: 100px; 
    margin: 0 auto; position: relative; 
    bottom: -100px;}

#ribbon { 
    background: url('../img/ribbon.png')no-repeat; 
    width: 251px; height: 48px; 
    margin: 0 auto;  
    display: block; 
    position: relative; top: -38px; 
}

#bone1 { 
    background: url('../img/bone.svg')no-repeat; 
    width: 40px; 
    height: 40px; 
    margin: 0 auto;  
    display: block; 
    position: relative; 
    bottom: -44px; left: -92px; 
}

#bone2 { 
    background: url('../img/bone2.svg')no-repeat; 
    width: 40px; 
    height: 40px; 
    margin: 0 auto;  
    display: block; 
    position: relative; 
    bottom: -4px;  
    right: -90px; }



/* BUTTON$------------------------------------------------*/

button.btn-know { 
    padding: 15px 47px; 
    margin: 40px 38.8%;
    text-align: center;
    border: 4px solid #fff; 
    color: #fff; 
    background: transparent; 
    font-size: 19px;
    cursor: pointer;
    text-shadow: -1px 2px 0px rgba(90, 90, 90, 0.56);
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.btn-know:hover {
    background: #fff; 
    color: transparent; }

ul.built { 
    list-style: none; 
    margin: 0 auto; 
    width: 730px; }

.built li img { 
    float: left; 
    padding-right: 34px; 
}


/*---------------MAIN STYLING------------------*/

#home, #{ 
    width: 100%; 
}

#home{
    background:url('../img/swagthedog-01-01.jpg') 50% 0 no-repeat fixed;
    color: #fff;
    height: 600px;
    margin: 0;
    padding: 200px 0 260px 0;
    background-size: cover;
}

#about {
    background:url('../img/swagthedog-01-02.jpg') 50% 0 no-repeat fixed;
    color: #333333;
    margin: 0;
    background-size: cover;
}

#employees {
    background: url(../img/swagthedog-01-03.jpg) 50% 0 no-repeat fixed;
    color: #333333;
    height: 600px;
    padding: 200px 0;
    background-size: cover;
    display: flex;
    font-size: 20px; 
}

#products {
    background: url(../img/swagthedog-01-04.jpg) 50% 0 no-repeat fixed;
    background-color: #fff;
    color: #333333;
    height: 600px;
    padding: 200px 0;
    background-size: cover;
}

/* FOOTER 
--------------------------------------------------------*/

#copyright  { 
    color: #fff; 
    font-family:"Shrikhand";  
    font-size: 20px; 
    text-align: center;  
    background-color: #F9B777;
}

#copyright  a { 
    text-decoration: none; 
    color: #fff;
}

/*---About-----*/

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 4000px;
    height: 100px;
    background-color: black;

}

.flex-item1 {

    background-color: lightgrey;
    width: 320px;
    height: 100px;
    margin: 10px;
    border-style: solid;
    text-align: center;
    font-size: 200%;
    padding-top: 30px;
    text-color: red;
}	

.flex-item2 {
    background-color: white;
    width: 1000px;
    height: 670px;
    margin: 10px;
    border-style: solid;
    text-align: center;
    font-size: 300%;
    padding-top: 30px;


}

.flex-container2 {
    display: -webkit-flex;
    display: flex;
    width: 4000px;
    height: 1000px;
    background-color: black;
}

.flex-item3 {
    background-color: lightgrey;
    width: 320px;
    height: 600px;
    margin: 10px;
    border-style: solid;
}

.flex-item4 {
    background-color: gray;
    width: 1350px;
    height: 250px;
    margin-top: 640px;
    border-style: solid;
    margin-left:-335px;
    border-radius: 10px;
    padding-bottom: 80px;
    padding-top: -30px;

}

.a {
	text-align: center;
}

.p {
	font-size: 20px;
	text-align: left;
	padding-left: 5px;
	text-indent: 50px;
}

.cp {
	font-size: 20px;
	text-align: left;
	padding-left: 5px;
	padding-top: 20px;
}

img {
	padding-right: 5px;
}

.dogPic {

	padding-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;

}


/* =========EMPLOYEES============ */

.employee {
  flex-grow: 1;
  border: 2px solid grey;
  margin: 0 5px;
}

.employee h1 {
  text-align: center;
  margin: 5px 0;
}

.employee p {
  text-align: justify;
  padding: 0 10px;
}

.employee_photo {
  display: block;
  margin: 20px auto 0;
  border-radius: 10%;
}

#dog_bullet {
  display: inline-block;
}